{% extends "global/Base.html" %}
{% load staticfiles otree_tags i18n %}

{% block title %}
    {% trans "Questionnaire 3" %}
{% endblock %}

{% block content %}
<style>
    ul.questions input.form-control {
        display: inline;
        margin: 3px;
    }

    ul.questions div.strong {
        font-weight: bold;
    }

    ul.questions div.no-strong *{
        font-weight: normal;
    }

    ul.questions li.question {
        margin-bottom: 20px;
    }

    ul.questions .indent {
        margin-left: 30px;
    }

    ul.questions textarea {
        width: 100%;
        max-width: 100%;
        resize: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
    <ul class="questions">
        <li class="question">
            <div class="strong">{% trans "What do you judge like the second Game?" %}</div>
            <div class="strong">{% trans "I am..." %}</div>
            <ul>
                <li>{% trans "Not at all" %} {{form.q3_second_game_surprised}} {% trans "Entirely surprised" %}</li>
                <li>{% trans "Not at all" %} {{form.q3_second_game_satisfied}}  {% trans "Entirely satisfied" %}</li>
                <li>{% trans "Not at all" %} {{form.q3_second_game_upset}}  {% trans "Entirely upset" %}</li>
            </ul>
        </li>
    </ul>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
