{% extends "global/Base.html" %}
{% load staticfiles otree_tags i18n %}

{% block title %}
    {% trans "Questionnaire 3" %}
{% endblock %}


{% block scripts %}
<script src="{% static 'global/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js' %}"></script>
<script>
    //~ $(document).ready(function(){
        $("#id_q3_birthday").attr("placeholder", "YYYY-MM-DD");
        $("#id_q3_birthday").prop("readonly", true);

        $("#id_q3_birthday").datepicker({format: "yyyy-mm-dd", autoclose: true});


        $("#id_q3_birthday").parent().find("span.btn").click(function(){
            $("#id_q3_birthday").datepicker("show")
        });



    //~ });
</script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css' %}">
<style>
    #id_q3_birthday {
        background-color: #ffffff;
        cursor: pointer;

    }

    ul.questions input.form-control {
        display: inline;
        margin: 3px;
    }

    ul.questions div.strong {
        font-weight: bold;
    }

    ul.questions div.no-strong *{
        font-weight: normal;
    }

    ul.questions li.question {
        margin-bottom: 20px;
    }

    ul.questions .indent {
        margin-left: 40px;
    }

    ul.questions textarea {
        width: 100%;
        max-width: 100%;
        resize: none;
    }

    ul.questions div.small-tarea textarea {
        height: 50px;
    }

    ul.questions li.question ul {
        list-style-type: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    <ul class="questions">
        <li class="question">
            <div class="strong">{% trans "Evaluating the second game," %}</div>
            <div class="strong">{% trans "I am..." %}</div>
            <ul>
                <li>{% trans "Not at all" %} {{form.q3_second_game_surprised}} {% trans "Entirely surprised" %}</li>
                <li>{% trans "Not at all" %} {{form.q3_second_game_satisfied}}  {% trans "Entirely satisfied" %}</li>
                <li>{% trans "Not at all" %} {{form.q3_second_game_upset}}  {% trans "Entirely upset" %}</li>
            </ul>
        </li>
        <li class="question">
            <div class="strong">{% trans "How much did the players help each other in the second game?" %}</div>
            <div class="strong">{% trans "Group members ..." %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_help_each_other_in_the_second_game}} {% trans "Full cooperation" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Is there any 'team spirit' or 'cohesion'?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_team_spirit}} {% trans "Entirely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How important were the recommendations of actions to maximize everyone's resources?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_recommendations_of_actions_to_maximize_everyones_resources}} {% trans "Very helpful" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Did you follow the recommendations of action?" %}</div>
            <div class="strong">{% trans "The recommendations of actions were..." %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_i_follow_recommendations_of_action_followed}} {% trans "Entirely followed" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_i_follow_recommendations_of_action_my_advantage}} {% trans "Followed to try to maximize my advantage" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Did other members follow the recommendations of action?" %}</div>
            <div class="strong">{% trans "Some or all followed..." %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_others_follow_recommendations_of_action_followed}} {% trans "Entirely" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_others_follow_recommendations_of_action_their_advantage}} {% trans "Followed to try to maximizing their advantage" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Your opinion: If everyone followed the recommendations entirely, would everyone maximize his own resources?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_yopinion_if_they_followed_would_everyone_max_his_resources}} {% trans "Entirely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Explain in a few sentences: What was the second game like? What was different and is it (if different) because of the communication? Communicated before, what worked and what didn't work at all? Did you follow the 'rules' and why not? Etc." %}</div>
            <div class="indent">{{form.q3_second_game_different_and_is_it_because_of_the_communication}}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Experienced from the second game and the communication: What would be the best strategy to optimize everyone's resources?" %}</div>
            <div class="indent">{{form.q3_the_best_strategy_to_optimize_everyones_resources}}</div>
        </li>
    </ul>

    <h4>{% trans "Details regarding you as a person" %}</h4>
    <ul class="questions">
        <li class="question">
            <div class="strong">{% trans "Gender" %}</div>
            <div class="indent">{{form.q3_gender}}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Birthday" %}</div>
            <div class="indent input-group">
                {{form.q3_birthday}}
                <span class="btn input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Main subject in university:" %}</div>
            <div class="indent small-tarea">{{form.q3_main_subject_in_university}}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Did you already take part in a problem solving or cooperational game/experiment?" %}</div>
            <div class="indent">{{form.q3_already_take_part_in_a_problem_solving}}</div>
        </li>
    </ul>

    <h4>{% trans "Evaluation" %}</h4>
    <ul class="questions">
        <li class="question">
            <div class="strong">{% trans "The experiment itself was interesting?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_experiment_itself_was_interessting}} {% trans "Very interesting" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Were you personally engaged achieving good results?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_were_you_personally_engaged_achieving_good_results}} {% trans "Entirely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Was it difficult understanding and solving the problem?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_dificult_understanding_and_solving_the_problem}} {% trans "Very difficult" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Was it obvious what to do?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q3_was_it_obvious_what_to_do}} {% trans "Entirely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Please write a short feedback: What was good and what were you upset about? What are possible things to improve/change?" %}</div>
            <div class="indent">{{form.q3_short_feedback}}</div>
        </li>

    </ul>

    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
