{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Chat - Player {{player.id_in_group}}
{% endblock %}

{% block content %}
<div class="row lead">
    Da ihr nun die Moeglichkeit zur Kommunikation bekommt, moechte ich euch bitten folgende Aspekte zu beruecksichtigen:
    <ul>
        <li>Tauscht allgemeine Informationen ueber das Spiel aus.</li>
        <li>Versucht das Problem genau zu benennen und zu erklaeren.</li>
        <li>Versucht gemeinsam eine Loesung zu erarbeiten und diese ebenfalls
            zu erklaeren. Sprecht dabei über Vorteile und ggf. Nachteile.</li>
        <li>Achtet auf eine Loesungsorientierung, d.h.: Vermeidet zu langes
            abschweifendes und nicht dem Problem dienlichem ‚SmallTalk‘.</li>
        <li>Achtet auf einen freundlichen Umgangston.</li>
        <li>Sprecht ‚stille Player‘ an und fragt nach ihrer Meinung.</li>
        <li>Signalisiert Interesse an der Meinung der anderen indem ihr beispielsweise auf das gesagte Bezug nehmt.</li>
        <li>Vergebt moegliche Aufgaben an die Mitspieler "wann, was" zu tun ist.</li>
    </ul>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
