{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions 2/4
{% endblock %}

{% block content %}
<div class="row">
   <h3 class="text-info">Behaviour-Options</h3>
   <p>(you can always use the toilet and do small cleaning or a big cleaning….you don’t have to)</p>
   <ul class="lead">
        <li>Usage of the toilet (yes vs no): Not-Using reduces everyone’s health by 1; Using makes the toilet dirty (state of toilet: –1).</li>
        <li>Using toilet  small cleaning or not: small cleaning makes the toilete less dirty (state of toilet –0.5 instead of –1) will cost resources, tho (–1).</li>
        <li>Independently of that: You can be part of big cleaning: Cleans the toilet, but uses many resources</li>
   </ul>
</div>

<div class="row">
   <h3 class="text-info">State of toilet (public good)</h3>
   <ul class="lead">
        <li>Min.: 0 = completely dirty till Max.: 12 = completely clean.</li>
        <li>Start (First Round)= 4 (critical dirty)</li>
        <li>Gets worse with every usage, only half when doing small cleaning afterwards.</li>
        <li>Gets better with every Big cleaning: The dirtier, the better…the more resources used the better (see later).</li>
   </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>
{% endblock %}
