{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions 1/4
{% endblock %}

{% block content %}
<div class="row">
   <h3 class="text-info">Background</h3>
   <p class="lead">In Slums many people often share one Toilet. Unfortunaly they are as often not able to keep it clean, Illnesses spread easily</p>
</div>
<hr/>
<div class="row">
   <h3 class="text-info">Task</h3>
   <ul class="lead">
        <li>
            You decide for a couple of weeks (rounds) where you go on the
            toilet (e.g. use it or not) and whether you keep it clean (or not)
        </li>
        <li>
            Your and the group’s behaviour is directly related to your health.
            Your health is related to the resources you get each round.
            Cleaning the toilet needs resources.
        </li>
        <li>Aim: Get as many resources as possible</li>
   </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>
{% endblock %}
