{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions 4/4
{% endblock %}

{% block content %}
<div class="row">
   <h3 class="text-info">Big cleaning</h3>
   <ul class="lead">
        <li>Big cleaning takes time and material: 12 Resources (always that much)</li>
        <li>Everyone who takes part of «big cleaning» pays his part of the resources. E.g.: 2 people do Big cleaning, each one pays 6 Resources</li>
        <li>If everyone, who takes part, has enough resources toilet will be always completely clean (12)</li>
        <li>If someone doesn’t have enough resources, toilet won’t get as clean: <br>
            E.g.: 2 people want to do a big cleaning, but one of them only has 3 resources (needs 6)  only (3 + 6) / 12 = 0.75 cleaning will be done.
            State of toilet (for example) 4, after cleaning it will be: (12 – 4) * 0.75 = 6  new state of toilet: 10.</li>
   </ul>
</div>

<div class="row">
   <h3 class="text-info">Resume</h3>
   <ul class="lead">
        <li>Decide whether you want to use the toilet or not. If you use it, you can decide, whether you want to do a small cleaning (or not).</li>
        <li>Independent of upper decisions: You can always decide whether you want to be part of a big cleaning this round.</li>
   </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>
{% endblock %}
