{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Einverst&auml;ndniserkl&auml;rung
{% endblock %}

{% block content %}
<div class="row lead">
    <div>
        <p>
            Dieses Experiment wird unter der Verantwortung von Korbinian Lunckenbein unter der Aufsicht von
            Dr. Robert Tobias an der UZH durchgef&uuml;hrt. Ziel des Experimentes ist es zu verstehen, wie Entscheidungen in Problemsituationen
            gef&auml;llt werden.
        </p>
        <p>
            Das Experiment dauert zwei Stunden und Sie erhalten daf&uuml;r einen Bonus von einer halben Note auf
            das Pr&uuml;fungsresultat, sofern Sie dem Experiment vollst&auml;ndig beiwohnen und die ausgef&uuml;llten
            Berechnungs-Formulare und Frageb&ouml;gen (Excel-Dokument) abliefern.
        </p>
        <p>
            Die Teilnahme an diesem Experiment ist vollkommen freiwillig. Sollten Sie nicht an diesem Experiment teilnehmen oder dieses
            abbrechen wollen, so k&ouml;nnen Sie dies jederzeit und ohne Angabe von Gr&uuml;nden tun ohne irgendwelche negativen Konsequenzen
            bef&uuml;rchten zu m&uuml;ssen.
        </p>
        <p>
            Die im Rahmen des Experiments erhobenen Daten werden anonym ausgewertet und jeglicher R&uuml;ckschluss auf Ihre Person ist dabei ausgeschlossen.
            Die Resultate von Analysen dieser Daten k&ouml;nnen ver&ouml;ffentlicht werden, Ihr Name wird aber nicht verwendet werden.
        </p>
        <p>
            Sollten Sie noch Fragen zum Experiment haben, k&ouml;nnen Sie sich w&auml;hrend des Experiments
            pers&ouml;nlich oder sp&auml;ter via E-Mail (<a href="korbiniankonstantin.lunckenbein@uzh.ch">korbiniankonstantin.lunckenbein@uzh.ch</a>) an mich wenden.
        </p>
        <p>
            Mit dem Unterschreiben dieses Dokuments best&auml;tigen Sie, obige Information gelesen und verstanden zu
            haben und zudem, dass Ihnen allf&auml;llige Fragen im Zusammenhang mit dieser Untersuchung
            ausreichend beantwortet wurden.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>
{% endblock %}
