{% extends "global/Base.html" %}
{% load staticfiles otree_tags i18n %}

{% block title %}
    {% trans "Questionnaire 1" %}
{% endblock %}

{% block content %}
<style>
    ul#questions input.form-control {
        display: inline;
        margin: 3px;
    }

    ul#questions div.strong {
        font-weight: bold;
    }

    ul#questions li.question {
        margin-bottom: 20px;
    }

    ul#questions .indent {
        margin-left: 40px;
    }

    ul#questions textarea {
        width: 100%;
        max-width: 100%;
        resize: none;
    }

    ul.questions li.question ul {
        list-style-type: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
    <ul id="questions">
        <li class="question">
            <div class="strong">{% trans "Evaluating the first game," %}</div>
            <div class="strong">{% trans "I am..." %}</div>
            <ul>
                <li>{% trans "Not at all" %} {{form.q1_first_game_judge_surprised}} {% trans "Entirely surprised" %}</li>
                <li>{% trans "Not at all" %} {{form.q1_first_game_judge_satisfied}}  {% trans "Entirely satisfied" %}</li>
                <li>{% trans "Not at all" %} {{form.q1_first_game_judge_upset}}  {% trans "Entirely upset" %}</li>
            </ul>
        </li>
        <li class="question">
            <div class="strong">{% trans "How much are the players helping each other?" %}</div>
            <div class="strong">{% trans "Group members..." %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_players_helping_each_other}} {% trans "Full cooperation" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Is there any 'team spirit' or 'cohesion'?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_team_spirit_or_cohesion}} {% trans "Entirely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How important is your own self-presented image of and to yourself?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_important_presented_image_of_and_to_yourself}} {% trans "Very important" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Is greating maximum and fair resources for everyone important to you?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_important_maximum_and_fair_resources_to_everyone}} {% trans "Very important" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How important is other members trust in you?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_important_other_members_trust_in_you}} {% trans "Very important" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How important is it to other members (not you) greating maximum and fair resources to everyone?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_important_not_you_maximum_and_fair_resources_to_everyone}} {% trans "Very important" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How much trust do you have into other members?" %}</div>
            <div class="indent">{% trans "No trust at all" %} {{form.q1_trust_do_you_have_into_other_members}} {% trans "I fully trust them" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "All in all, how much do you like the other team-members?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_how_much_do_you_like_the_other_team_members}} {% trans "Completely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How good do you understand solving the cleaning problem to great maximum resources?" %}</div>
            <div class="strong">{% trans "I think, the solution is ..." %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_how_good_do_you_understand_solving}} {% trans "Completely understood" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How good do the other group members understand solving the cleaning problem to great maximum resources?" %}</div>
            <div class="strong">{% trans "I think, other group members understand the solution..." %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q1_how_good_do_the_other_group_members_understand_solving}} {% trans "Completely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Explain in a few sentences how to improve the groups behavior to maximize resources." %}</div>
            <div class="indent">{{form.q1_how_to_improve_the_groups_behavior_to_maximize_resources}}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "If you play the game again with the same circumstances, which strategy would you follow and why?" %}</div>
            <div class="indent">{{form.q1_which_strategy_would_you_follow_and_why}}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Given the possibility to communicate with the other group members, what would you say and why? What would be your strategy and your personal goal?" %}</div>
            <div class="indent">{{form.q1_if_communicate_what_would_you_say_and_why}}</div>
        </li>
    </ul>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
