{% extends "global/Base.html" %}
{% load staticfiles otree_tags i18n %}

{% block title %}
    {% trans "Questionnaire 1" %}
{% endblock %}

{% block content %}
<style>
    ul#questions select {
        display: inline;
        margin: 3px;
    }

    ul#questions div.strong {
        font-weight: bold;
    }

    ul#questions li.question {
        margin-bottom: 20px;
    }

    ul#questions .indent {
        margin-left: 30px;
    }
</style>

<div class="row">
    <div class="col-md-12">
    <ul id="questions">
        <li class="question">
            <div class="strong">{% trans "What do you judge like the first Game?" %}</div>
            <div class="strong">{% trans "I am..." %}</div>
            <ul>
                <li>{% trans "Not at all" %} {{form.q_first_game_judge_surprised}} {% trans "entirely surprised" %}</li>
                <li>{% trans "Not at all" %} {{form.q_first_game_judge_satisfied}}  {% trans "entirely satisfied" %}</li>
                <li>{% trans "Not at all" %} {{form.q_first_game_judge_upset}}  {% trans "entirely upset" %}</li>
            </ul>
        </li>
        <li class="question">
            <div class="strong">{% trans "How much are the players helping each other?" %}</div>
            <div class="strong">{% trans "Group members work..." %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q_players_helping_each_other}} {% trans "full cooperation" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "Is there any 'team spirit' or 'cohesion'?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q_team_spirit_or_cohesion}} {% trans "entirely" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How important is your own presented image of and to yourself?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q_important_presented_image_of_and_to_yourself}} {% trans "very important" %}</div>
        </li>
        <li class="question">
            <div class="strong">{% trans "How important is it to you greating maximum and fair resources to everyone?" %}</div>
            <div class="indent">{% trans "Not at all" %} {{form.q_important_maximum_and_fair_resources_to_everyone}} {% trans "very important" %}</div>
        </li>
    </ul>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

{% endblock %}
